<div>
  <div>
    <input
      id="searchTerm"
      placeholder="Type search"
      [formControl]="searchControl"
    >
  </div>
  <div>
    <div *ngIf="(loading$ | async)">
      Loading...
    </div>

    <table >
      <tr>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Favorite Color
        </th>
        <th>
          Car
        </th>
        <th>
          Description
        </th>
      </tr>
      <tr *ngFor="let item of displayData$ | async">
        <td>
          {{ item.firstName }}
        </td>
        <td>
          {{ item.lastName }}
        </td>
        <td>
          {{ item.favoriteColor }}
        </td>
        <td>
          {{ item.car }}
        </td>
        <td>
          {{ item.description }}
        </td>
      </tr>
    </table>
    
  </div>
</div>